@import "eco-omega.styles"; 
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!


.l-main {
    @include clearfix;
    padding-top: 70px;

        .l-content {
            margin-top: 40px;
            margin-bottom: 40px;
        }

}

.panel-pane {
	 @include clearfix;
}