@import "eco-omega.styles"; 
//the following resources are already called in the ant-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

@include breakpoint($mobilePortrait) {

.field--type-commerce-product-reference {
				//border: green 2px solid;
			}

}


@include breakpoint($tab) {


	.l-region--store {
		@include clearfix;
		@include grid-span(12, 1); //sets it to 12 columns wide, that starts with the 1st column
	}
	

	.l-content {
		@include grid-span(10, 2); //sets it to 10 columns wide, that starts with the 2nd column
		padding-right: 0;
    	padding-left: 0;



			.field-field-product-image {
				@include grid-span(6, 1); //sets it to 5 columns wide, that starts with the 1st column
				margin-top: 30px;
			}

			.field-field-product-description {
				@include grid-span(5, 7); //sets it to 5 columns wide, that starts with the 7th column
				float: none;
				margin-top: 30px;
			}

			.commerce-product-field-commerce-price {
				@include grid-span(5, 7); //sets it to 5 columns wide, that starts with the 7th column
				float: none;
				margin-top: 30px;
			}

			.field--type-commerce-product-reference {
				@include grid-span(5, 7); //sets it to 5 columns wide, that starts with the 7th column
				float: none;
				margin-top: 30px;
			}

			.commerce-product-field-field-colour, .commerce-product-field-field-size {
				display: none; //these fields should be turned of via the CMS - need to find that method!
			}


			.field--type-commerce-product-reference {
				@include grid-span(5, 7); //sets it to 5 columns wide, that starts with the 7th column
				//border: red 2px solid;
			}

		

	}


}
