@import "eco-omega.styles"; 
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

.hp-box {
	height: 350px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
	position: relative;
	background-image: url("../../../images/img_frontpage/contact-mobile.jpg");
}

.l-main {
	background-color: $bodyBGalt;
	padding-top: 30px;
	padding-bottom: 100px;
}

h2.pane-title {
	color: $textColourAlt;
}

#clientsidevalidation-webform-client-form-3-errors {
	padding: 0;
	float: none;
	width: auto;
	border: 0 none;

	ul {
	margin-left: 5%;

		.error {
			color: #ff0000;
		}


	}

}

.l-footer {
	background-color: $footerBGalt;

		h2.pane-title {
		color: #000;
		}

		ul.menu {

			li a {
				color: #fff;
			}

			li a:hover {
				color: #666;
			}
		}

		.social-networks {
			@include clearfix;
			margin: 50px 0 0;

			ul {
				margin:0;
				padding: 0;
				
				li {
					list-style: none;

					a {
						display: block;
						text-decoration: none;
						background-image: url("../../../images/social-networks/facebook-alt.png");
						background-repeat: no-repeat;
						background-position: center;
						height: 35px;
						background-size: 120px;
					}

					a:hover {
						background-image: url("../../../images/social-networks/facebook-alt-hover.png");
					}
				}
			}

	}

		.copyright {

			p {
				color: #000;
			}

		}


}


@include breakpoint($tab) {

	.hp-box {
	background-image: url("../../../images/img_frontpage/contact-tab.jpg");
	}

	#clientsidevalidation-webform-client-form-3-errors {

		ul {
		margin-left: 0;

			.error {
				font-size: 20px;
			}

		}

	}

	.l-footer {

		ul.menu {

				li a {
					color: #000;
				}

				li a:hover {
					color: #666;
				}
		}

			.social-networks {

			ul {
				
				li {

					a {
					background-position: left;
					}

				}
			}

		}
	}

}

@include breakpoint($tabwide) {

	.hp-box {
	background-image: url("../../../images/img_frontpage/contact-tabwide.jpg");
	}

}

@include breakpoint($desk) {

	.hp-box {
	background-image: url("../../../images/img_frontpage/contact-desk.jpg");
	}

}
