@import "eco-omega.styles"; 
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

body {
	background-color: $bodyBGalt;
}

.l-footer {
	background-color: $footerBGalt
}

.contact-intro {
	padding-top: 60px;
	text-align: center;

	.contact-intro-wrapper {
		padding: 30px 0;
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
		margin: 0 5% 20px;


		h2 {
			color: #999;
			font-weight: normal;
		}

		p {
			color: #999;
			font-weight: normal;
		}
	}
}

#clientsidevalidation-webform-client-form-3-errors {
	padding: 0;
	float: none;
	width: auto;
	border: 0 none;

	ul {
	margin-left: 5%;

		.error {
			color: #ff0000;
		}


	}

}


@include breakpoint($tab) {

		.contact-intro {
		padding-top: 100px;

			.contact-intro-wrapper {
				padding: 20px 0;
				margin: 0 15% 50px 15%;


				h1 {
					font-size: 3em;
				}

				p {
					font-size: 1.75em;
				}
			}
	}


	.l-content .webform-component--email {
		clear: left;
	}

	.l-content .webform-component--notes {
		clear: left;
	}

	#clientsidevalidation-webform-client-form-3-errors {
		margin: 20px 12.5%;
		float: none;
		width: auto;

			ul {
			margin-left: 0;

			.error {
				font-size: 20px;
			}

		}

	}

}