@import "eco-omega.styles";
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

.l-content {
    padding-right: 0;
    padding-left: 0;
}

.l-header {
	//min-height: 100px;
}

.hp-box {
	//height: 700px;
	width: auto;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
	background-image: url("../../../images/img_frontpage/newquay-tab.jpg");
}

.hp-info-holder { //holds the scroll down button
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
}

.hp-info-holder-alt { //holds the scroll up button
	position: relative;
	background-color: #000;
	height: 70px
}
.hp-scroll { //holds the scroll up/down button
	position: relative;
}
//Scroll down button
.scroll-button {
	position: relative;

		a {
		position: absolute;
	    bottom: 20px;
	    left: 52%;
	    z-index: 2;
	    display: inline-block;
	    margin-left: -31px;
	    -webkit-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    color: #fff;
	    font-size: 12px;
	    letter-spacing: .1em;
	    text-decoration: none;
	    transition: opacity .3s;
		}

		a:hover {
	    color: #999;
	    }

		a span {
		position: absolute;
	    top: 10px;
	    left: 50%;
	    width: 24px;
	    height: 24px;
	    margin-left: -12px;
	    border-left: 1px solid #fff;
	    border-bottom: 1px solid #fff;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    box-sizing: border-box;
		}

		a:hover span {
	    border-left: 1px solid #999;
	    border-bottom: 1px solid #999;
		}

}

//Scroll up button
.scroll-button-up {
	position: relative;

		a {
		position: absolute;
	    top: 50px;
	    left: 50%;
	    z-index: 2;
	    display: inline-block;
	    margin-left: -31px;
	    -webkit-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    color: #fff;
	    font-size: 12px;
	    letter-spacing: .1em;
	    text-decoration: none;
	    transition: opacity .3s;
		}

		a:hover {
	    color: #999;
	    }

		a span {
		position: absolute;
	    top: -25px;
	    left: 50%;
	    width: 24px;
	    height: 24px;
	    margin-left: -12px;
	    border-right: 1px solid #fff;
	    border-top: 1px solid #fff;
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    box-sizing: border-box;
		}

		a:hover span {
	    border-right: 1px solid #999;
	    border-top: 1px solid #999;
		}

}


.pod-panel { //Lets create a panel-pane secific class to control the assets within the pod-panel content type

	.node__title {
		margin-top: 0;
		margin-bottom: 0;
	}

	img {
		display: block;
	}
}

//Settings for Panel
.l-content {

	.panel-pane {
		background-color: #fff;
		margin-top: 50px;
	}

	.pane-title {
		color: $h2Colour;
		padding-right: 5%;
		padding-left: 5%;	
	}

	.field--name-field-text-introduction-pod, .field--name-field-text-main-pod {
		padding-right: 5%;
		padding-left: 5%;
	}

	.field--name-field-image-pod {
		max-width: 90%;
		margin: 0 auto;
	}

	.field--name-field-text-introduction-pod {
		padding-bottom: 50px;
	}

	.pod-no1 .field--name-field-text-introduction-pod {
		padding-bottom: 0;
	}

}



@include breakpoint($tab) {

	.hp-box {
		background-image: url("../../../images/img_frontpage/newquay-tab.jpg");
	}

	.l-content {
		@include grid-span(12, 1);

		.pane-title, .field--name-field-text-introduction-pod, .field--name-field-text-main-pod {//We need to reset after coming from mobile!
			padding-right: 0;
			padding-left: 0;
		}
	
		.pod-no1 { //Lets create a panel-pane secific class to control the assets within the pod content type

			.field--name-field-text-introduction-pod {
				@include grid-span(5, 2);
				padding-bottom: 0;
				
			}

			.field--name-field-text-main-pod {
				@include grid-span(5, 7);
				
			}

		}

		.pod-no2 { //Lets create a panel-pane secific class to control the assets within the pod content type

			.field--name-field-text-introduction-pod {
				@include grid-span(5, 7); //sets it to 4 columns wide, that starts with the 7th column
				
			}

			.field--name-field-image-pod {
				@include grid-span(5, 2); //sets it to 4 columns wide, that starts with the 2nd column
				
			}

			.field--name-field-text-introduction-pod {
				padding-bottom: 0;
			}

		}

		.pod-no3 { //Lets create a panel-pane secific class to control the assets within the pod content type

			.field--name-field-text-introduction-pod {
				@include grid-span(5, 2); //sets it to 4 columns wide, that starts with the 7th column
				
			}

			.field--name-field-image-pod {
				@include grid-span(5, 7); //sets it to 4 columns wide, that starts with the 2nd column
				
			}

			.field--name-field-text-introduction-pod {
				padding-bottom: 0;
			}

		}

	}

	//Settings for the Pod content type
	.l-content .panel-pane .field--name-field-text-introduction-pod {
	clear: left;	
	}


}


@include breakpoint($tabwide) {

	.hp-box {
	background-image: url("../../../images/img_frontpage/newquay-tabwide.jpg");
	}



}

@include breakpoint($desk) {

	.hp-box {
	background-image: url("../../../images/img_frontpage/newquay-desk.jpg");
	}



}


