@import "eco-omega.styles";
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

.l-content {
    padding-right: 0;
    padding-left: 0;
}

.l-header {
	//min-height: 100px;
}

.hp-box {
	height: 700px;
	width: auto;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
	background-image: url("../../../images/img_frontpage/newquay-tab.jpg");
}

.hp-info-holder { //holds the scroll down button
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
}

.hp-info-holder-alt { //holds the scroll up button
	position: relative;
	background-color: #000;
}

//Scroll down button
.scroll-button {
	font-size:10px;
	color:#fff;
	text-align:center;
	margin: 0 auto;
	display: block;
	padding-top: 10px;

		a {
			display: block;
			color: #fff;
			text-decoration: none;
		}

		a:hover {
			display: block;
			color: #666;
			text-decoration: none;
		}

}


.pod-panel { //Lets create a panel-pane secific class to control the assets within the pod-panel content type

	.node__title {
		margin-top: 0;
		margin-bottom: 0;
	}

	img {
		display: block;
	}
}

//Settings for Panel
.l-content {

	.panel-pane {
		background-color: #fff;
		margin-top: 50px;
	}

	.pane-title {
		color: $h2Colour;
		padding-right: 1%;
		padding-left: 1%;	
	}

	.field--name-field-text-introduction-pod, .field--name-field-text-main-pod {
		padding-right: 1%;
		padding-left: 1%;
	}

	.field--name-field-image-pod {
		max-width: 90%;
		margin: 0 auto;
	}

	.field--name-field-text-introduction-pod {
		padding-bottom: 50px;
	}

	.pod-no1 .field--name-field-text-introduction-pod {
		padding-bottom: 0;
	}

}



@include breakpoint($tab) {

	.hp-box {
		background-image: url("../../../images/img_frontpage/newquay-tab.jpg");
	}

	.l-content {
		@include grid-span(12, 1);

		.pane-title, .field--name-field-text-introduction-pod, .field--name-field-text-main-pod {//We need to reset after coming from mobile!
			padding-right: 0;
			padding-left: 0;
		}
	
		.pod-no1 { //Lets create a panel-pane secific class to control the assets within the pod content type

			.field--name-field-text-introduction-pod {
				@include grid-span(5, 2);
				padding-bottom: 0;
				
			}

			.field--name-field-text-main-pod {
				@include grid-span(5, 7);
				
			}

		}

		.pod-no2 { //Lets create a panel-pane secific class to control the assets within the pod content type

			.field--name-field-text-introduction-pod {
				@include grid-span(5, 7); //sets it to 4 columns wide, that starts with the 7th column
				
			}

			.field--name-field-image-pod {
				@include grid-span(5, 2); //sets it to 4 columns wide, that starts with the 2nd column
				
			}

			.field--name-field-text-introduction-pod {
				padding-bottom: 0;
			}

		}

		.pod-no3 { //Lets create a panel-pane secific class to control the assets within the pod content type

			.field--name-field-text-introduction-pod {
				@include grid-span(5, 2); //sets it to 4 columns wide, that starts with the 7th column
				
			}

			.field--name-field-image-pod {
				@include grid-span(5, 7); //sets it to 4 columns wide, that starts with the 2nd column
				
			}

			.field--name-field-text-introduction-pod {
				padding-bottom: 0;
			}

		}

	}

	//Settings for the Pod content type
	.l-content .panel-pane .field--name-field-text-introduction-pod {
	clear: left;	
	}


}


@include breakpoint($tabwide) {

	.hp-box {
	background-image: url("../../../images/img_frontpage/newquay-tabwide.jpg");
	}



}

@include breakpoint($desk) {

	.hp-box {
	background-image: url("../../../images/img_frontpage/newquay-desk.jpg");
	}



}


