@import "eco-omega.styles"; 
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

.image-gallery-intro {
	padding-top: 60px;
	text-align: center;

	.image-gallery-wrapper {
		padding: 30px 0;
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
		margin: 0 5% 20px;


		h1 {
			color: #f1f1f1;
			font-weight: normal;
		}

		p {
			color: red;
			font-weight: normal;
		}
	}
}
// Image Gallery thumbs
.views-row {
		    margin: 10px 1.5% 0 1.5%;
			border: 1px solid #CCC;
			background-color: #F1F1F1;
			padding: 10px;
		}


@include breakpoint($tab) {

		.image-gallery-intro  {
		padding-top: 100px;

			.image-gallery-wrapper {
				padding: 20px 0;
				margin: 0 15% 50px 15%;


				h1 {
					font-size: 3em;
				}

				p {
					font-size: 1.75em;
				}
			}
		}

		.view-filters {
			border: 1px solid red;
		}

		.view-filters {
			border: 1px solid red;
		}

		.views-row {
		    margin-top: 10px;
		    margin-bottom: 0px;
			border: 1px solid #CCC;
			background-color: #F1F1F1;
			padding: 10px;
			@include float-span(4); //mixin applies right gutter to the element.
			&:nth-child(3n+3) {		//Explicitly tell Singularity that the last item in each row should have no gutter:
    			@include float-span(4, last);
  			}
		}


.l-content {
		@include grid-span(12, 1);

		//Image Gallery view exposted filters
	
			.view-filters {
				@include grid-span(3, 1); //sets it to 4 columns wide, that starts with the 1st column
			}

		//Image gallery container which hols the view thumbs

			.view-content {
				@include grid-span(9, 4); //sets it to 8 columns wide, that starts with the 5th column
			
				
			}

		
		}


}

@include breakpoint($desk) {

		.view-content {
			border: 1px solid green;
		}

		.view-content .views-row {
		    margin-top: 10px;
		    margin-bottom: 0px;
			border: 1px solid #CCC;
			background-color: #F1F1F1;
			padding: 10px;
			@include float-span(3); //mixin applies right gutter to the element.
			&:nth-child(4n+4) {		//Explicitly tell Singularity that the last item in each row should have no gutter:
    			@include float-span(3, last);
  			}
		}


.l-content {
		@include grid-span(12, 1);

		//Image Gallery view exposted filters
	
			.view-filters {
				@include grid-span(2, 1); //sets it to 2 columns wide, that starts with the 1st column
			}

		//Image gallery container which hols the view thumbs

			.view-content {
				@include grid-span(10, 3); //sets it to 10 columns wide, that starts with the 3rd column
			
				
			}

		
		}


}

