//================================
// TRIAL styles for CART
// These styles are concerned with styling the Shop/Trolly Icon within the Header Region
//================================


// Mobile settings
.pane-commerce-cart-cart {
    //position: relative;
    float: right;


     .cart-contents { //Set the main Cart container attributes
        position: relative;
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 5px 50px 0 0;
        

    //OK lets hide some objects we dont want to show in the CART/TROLLY icon. Hey these fields should be removed via the Cart View. We can do that later!!!

            //(1) .views-field-quantity, // product qty. NB: this item shows the qty of each item within the Trolly! So there will be a line qty for each Item.
            //(2) I would like a total figure 'only' of all Items to be purchased to show within the Cart icon!!!
            //(3) The total number of Items in the Trolly are actually displayed at:
            //(4) /admin/structure/menu/manage/navigation




            .views-field-line-item-title, // desc
            .price, // price of item
            .line-item-quantity, // qty item. 
            .line-item-total // total cost
                {
                    display: none;
                }

            .line-item-summary-checkout {
                    a {
                        display:none;// hide checkout btn
                   }
                }

            .line-item-summary {
                margin-bottom: 0em;
            }

            .line-item-summary-view-cart {
                margin-right: 0em;
            }
     

        table.views-table {

            width: 100%;//forces the TBL to fill the full width of the Cart/Trolly Icon

                tr.odd {
                    background-color: transparent;

                    td.views-field-quantity {

                        font-size: 12px;
                        padding: 12px 0 0;
                        text-align: center;
                        color: #fff;
                    }
                }
        }

    //Cart btn

     .line-item-summary-view-cart {

                a {
                position: absolute;
                top: 0;
                //left: 0;
                display: block;
                height: 32px;
                width: 32px;
                text-indent: -9999px;
                text-decoration: none;
                line-height: 0;
                font-size: 0;
                background-image: url(../../../images/icons/shopping-bag.png);

                
                }
        }

    }

}

//================================
// TRIAL styles for CART end!!!
//================================

//================================
// TRIAL styles for DC Ajax Add Cart
// These styles are concerned with styling the 'DC Ajax Add Cart' TEASER within the Header Region
// The great THING about this Module is that a 'qty total' is displayed by default... NICE!!!
//================================

.ajax-shopping-cart-teaser {
        float: right;
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 8px 50px 0 0;
        background-image: url(../../../images/icons/shopping-bag.png);
        //border: red 1px solid;

            .cart-product-total {// We only want to display the items qty
                display: none;
            }

            .cart-image {// We are using our own icon!
                display: none;
            }

            .cart-product-quantity {
                margin-right: 0;
                padding-bottom: 0;
                width: 32px;
                height: 32px;
                text-align: center;
                

                    a.quantity {
                        color: #fff;
                        text-decoration: none;
                        display: block;
                        width: 32px;
                        height: 32px;
                        padding: 10px 0 0;
                    }

                    p.empty-cart {
                        color: #fff;
                        padding: 12px 0 0;
                        margin: 0;
                    }
    }

}

//================================
// TRIAL styles for DC Ajax Add Cart end!!!
//================================

//Positioning of the Cart within the Shop Region.
//NB these styles will be obselete if 'TRIAL styles for CART' are put into use!!!

.cart-empty-page {
    font-size: 18px;
    color: #000;
    padding-bottom: 50px;
}


.view-commerce-cart-form {

    table {
        width:100%;

        th {
            padding: 20px 7px;
            background-color: transparent;
            color: #000;
        }

        tr.odd, tr.even {
            background-color: transparent;
        }

        td {
            padding: 20px 7px;
            border-top: 1px #000 solid;
            color: #000;

                a {
                    color: #000;
                    text-decoration: none;
                }
                a:hover {
                    color: #999;
                    text-decoration: underline;
                }

        }

        

    }

    .line-item-summary .line-item-total {
        color: #000;
    }

}


@include breakpoint($mobilePortrait) {

    .view-commerce-cart-form  {

        th, td {
            font-size: 10px;
        }

        .views-field-edit-quantity {
            display: none;
        }

    }

}

.l-page {

    @include breakpoint($tabwide) {
     
        .cart-contents { 

            margin: 5px 0 0;// Reduce the right margin to work in with the expanded Main Menu

        }

        .ajax-shopping-cart-teaser {
            
            margin: 8px 0 0;// Reduce the right margin to work in with the expanded Main Menu

        }

    }

}



