.mean-container .mean-bar {
		float: none; //Stops horizontal scroll bars appearing on mobile in Chrome!
		position: fixed;
		z-index: 999;
		background-color: transparent;
		right: 0;
		width: 40%;

	}
.mean-container .mean-nav {
		background: none;
		background-image: url("../../../images/hd-bg.png") !important;
		
		ul li a {
			text-align: right;
			border-top: none;
		}

	}


.l-region--navigation { // Main (top) navigation
	width: 80%;
	float: right;
	position: relative;

		.pane-system-main-menu {
			float: right;

			ul.menu {
				@include clearfix;
				border: 0px none;
				list-style: outside none none;
				text-align: left;
				margin: 0;
				
				li {
					text-align: left;
					display: block;
					float: left;
					margin-right: 30px;
				}
				li:last-child {
					margin-right: 0px;
				}

				li a {
					display: block;
					text-transform: lowercase;
					text-decoration: none;
					font-size: 24px;
					color: #FFF;
					padding: 14px 0;
				}
				li a:hover {
					display: block;
					text-transform: lowercase;
					text-decoration: none;
					font-size: 24px;
					color: #999;
				}

		}
	}

}

.l-region--sidebar-first  { // Left hand navigation for the Sidebar Layout

	ul.menu {
		border: 0px none;
		list-style: outside none none;
		margin: 0;
		padding-left: 0;
		padding-right: 0;
		padding-top: 1%;
		padding-bottom: 1%;
			
			li {
				text-align: center;
				list-style: outside none none;
				background: #333;
				margin: 1%;
			}

			li:first-child {
				margin-top: 0;
			}

			li:last-child {
				margin-bottom: 0;
			}

			li a {
				display: block;
				text-decoration: none;
				font-size: 18px;
				color: #fff;
				//line-height: 38px;
				padding: 7px 2%;
			}

			li a:hover {
				color: #999;
			}
	}

}

.l-footer {

	h2.pane-title {
		display: block;
		color: #000;
		font-size: 20px;
		border-bottom: none 0;


	}

	ul.menu {
			@include clearfix;
			border: 0px none;
			list-style: outside none none;
			text-align: left;
			margin: 0;
			padding-left: 0;
				
				li {
					text-align: center;
					list-style: outside none none;
					background: #333;
					margin-top: 1%;
					margin-bottom: 1%;
				}

				li a {
					display: block;
					text-decoration: none;
					font-size: 18px;
					color: #fff;
					padding-top: 12px;
					padding-bottom: 12px;
				}

				li a:hover {
					color: #999;
				}
		}

}

// Layouts for the Footer Menus

.l-footer {

		@include breakpoint($tab) {

			h2.pane-title {
			color: #000;
			font-size: 20px;
			border-bottom: #000 1px solid;
			}

			ul.menu {
				
				li {
					text-align: left;
					background: none;
				}

				li a {
					display: block;
					text-decoration: none;
					font-size: 18px;
					color: #666;
					padding-bottom: 0;
				}

				li a:hover {
					color: #999;
				}
			}
			
			.pane-menu-menu-footer {
				@include grid-span(3, 1); //sets it to 3 columns wide, that starts with the 1st column
			}

			.pane-menu-menu-other-projects {
				@include grid-span(3, 4); //sets it to 3 columns wide, that starts with the 4th column
			}

		}
	}