//Mobile
/* .parallax {

	.pane-title {
		position: absolute;
	}

	img {
		display: none;
	}

	//width: auto;
	position: relative;
	width: 100%;
	height: 600px;
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
} */

/* .parallax-1 {
		background-image: url("http://localhost/ecoEvo2/sites/default/files/styles/pod-panel_breakpoints_theme_eco_omega_mobile_1x/public/uploaded-images/pod-panel/dolphins-in-a-row.jpg");
		
} */

/* @include breakpoint($tab) {

	.parallax-1 {
			background-image: url("default/files/styles/pod-panel_breakpoints_theme_eco_omega_mobile_1x/public/uploaded-images/pod-panel/dolphins-in-a-row.jpg");
	}



} */

/* @include breakpoint($tabwide) {

	

}

@include breakpoint($desk) {

	

} */