
//Webforms
.webform-client-form {

	label {
		font-family: $font-stack;
		font-weight: normal;
		font-size: 1.2em;
		margin-bottom: 5px;
		color: #fff;

	}
	input {
		width: 100%;
		border-radius: 2px;
		border: none;
		background-color: #333;
		font-size: 1.2em;
		padding: 8px;
		color: #fff;

	}

	select {
		width: 100%;
		border-radius: 2px;
		border: none;
		background-color: #333;
		font-size: 1.2em;
		padding: 7px;
		color: #fff;

		option {
			border: 0 none;

		}
	}

	textarea {
		width: 100%;
		border-radius: 2px;
		border: none;
		background-color: #333;
		font-size: 1.2em;
		padding: 5px;
		color: #fff;
	}

	.form-text {
		font-size: 1.2em;
	}

	.grippie {
		display: none;
	}

	.webform-submit {
			padding: 7px;
			font-size: 1.2em;

			
	}

	.button-primary {
			  color: #000;
			  display: block;
			  padding: 10px;
			  text-decoration: none;
			  background-color: #fff;
			  @include transition(background-color 1s .5s, color 2s);
			}

			.button-primary:hover {
			  color: #fff; 
			  background-color: #999;
			}

}

.l-page {
	
	@include breakpoint($tab) {

		.webform-submit {
			max-width: 20%;
		}

	}

	
}


//Views exposed filters

.views-exposed-form .views-exposed-widget {
padding: 0;
float: none;

		.description {
			display: none;
		}

			select {
				width: 100%;

				option {
				font-family: $font-stack;
				}
			}

		.form-submit {
			border: 1px solid #ccc;
			font-size: 0.9em;
			font-weight: normal;
			border-radius: 2px;
			text-align: center;
			color: #fff;
			display: block;
			padding: 10px;
			text-decoration: none;
			background-color: #000;
			@include transition(background-color 1s .5s, color 2s);	
		}

		.form-submit:hover {
			color: #000; 
			background-color: #666;
		}

}



