/* Ideas for site slider */



.l-page {

	.flexslider {

		background: transparent;
		 border: 0 none;
		 position: relative;
		 -webkit-border-radius: 0;
		 -moz-border-radius: 0;
		 border-radius: 0;

			h2 {
				color: #ff4400;
				margin: 0;

			}
			h3 {
				margin: 0;
				display: none;
			}

			p {
				margin: 0;
				font-size: 0.9em;
				display: none;
			}

			.slider-inner {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 96%;
				margin: 0 2%;
				padding: 1%;
				background-image: url("../../../images/hd-bg.png");
			
				.button_site {
					line-height: 1.0em;
					margin-top: 1%;
					margin-bottom: 1%;
				}
			}

	}
}

@include breakpoint($tab) {


	.l-page {

	.flexslider {

		h2 {
			color: #ff4400;
			margin: 0;

		}
		h3 {
			display: block;
		}

		p {
			display: block;
			font-size: 1.25em;
		}

		.slider-inner {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 96%;
			margin: 0 2%;
			padding: 1%;
			background-image: url("../../../images/hd-bg.png");
		}
	}
}

	
.l-content {

	.flexslider {

				.project-description {
					@include grid-span(5, 1); //sets it to 4 columns wide, that starts with the 1st column
				}

				.button_site {
					@include grid-span(3, 10); //sets it to 3 columns wide, that starts with the 10th column
				}

				
			}
	}


}
