@import "eco-omega.styles"; 
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

.l-region--sidebar-first {

	h2.pane-title {
		display: block;
		margin-left: 1%;
		font-size: 1.75em;
	}
}

.l-header {
		height: 49px;
}

.sidebar-intro {
	height: 49px;
	background-color: #000;
}

.l-page {
	background: #fff;
	color: #999;

	a {
	color: #666;
	text-decoration: underline;
	}

	a:hover {
		text-decoration: none;
	}

		h2 {
		color: #000;
		}

		h3 {
		color: #333;
		}

		h4 {
		color: #333;
		}

		p, ul, ul li {
		color: #666;
		font-size: 18px;
		}

}


@include breakpoint($tab) {

	.l-header {
		min-height: 70px;
	}

	.sidebar-intro {
		height: 70px;
	}

	.l-content {
		padding: 0 2.5%;
	}

	.l-footer {
		background-color: #000;

		h2.pane-title {
			display: block;
			color: #fff;
			font-size: 20px;
			border-bottom: none 0;
		}

		ul.menu li a {
			color: #fff;
		}

		.copyright {

				p {
					color: #fff;
				}

		}

	}

}

