@import "eco-omega.styles"; 
//the following resources are already called in the eco-omega.styles.css
//@import "compass";
//@import "breakpoint";
//@import "singularitygs";
//@import "toolkit";

// Globbing from within sub-folders only works with relative paths.
//@import "../../variables/**/*"; //this relative file path to the 'variables' doesn't work!!? See the import above!

.l-main {
	@include clearfix;

}

//Some basic form settings

select.form-select {
	width: 99% !important
}


//Lets position the form fields

.form-item-title {

		input {
			width: 99% !important;
		}
}

.field-name-field-plot-date {//lets get  control of the date field!!!

		span.fieldset-legend {
			display:none;
		}

		fieldset.date-combo .container-inline-date .date-padding {
			padding: 0 0 10px 0;
		}

		fieldset {
			border: 0;
			margin: 0;
			padding: 0;
		}

		span.fieldset-legend {
			font-color: #000;
			font-weight: bold;
		}

		input {
			width: 99% !important;
		}

		.description {
			display: none;
		}

		.date-padding {
			padding: 0;
		}

		fieldset.date-combo .container-inline-date > .form-item {
			margin-bottom: 0;
		}

		.form-item-field-plot-date-und-0-value-date {
			width: 40%;
		}


}

//The following form fileds were causing rendering issues in 'mobile portrait', hence they're set to a pertentage width value

.field-name-field-plot-creatures-nickname input {
	width: 90%;
}

.field-name-field-plot-group-name input {
	width: 90%;
}

.field-name-field-plot-how-many-in-group input {
	width: 90%;
}

.location-wrapper input {
	width: 90% !important;
}
//ends

.field-name-field-plot-creatures-species {
	margin-top: 15px;
}

.form-actions {//lets make the buttons look nice
	margin-top: 15px;
	@include clearfix;

		.form-submit {
			float: left;
			width: 48%;
			margin-right: 2%
		}

		.form-submit:nth-child(2) {
			float: right;
			width: 48%;
			margin-right: 0%;
		}
}

@include breakpoint($tab) {

.l-content {
		@include grid-span(12, 1);
		@include clearfix;


		.pane-form {
			@include grid-span(10, 2); //sets it to 10 columns wide, that starts with the 2nd column

			//Some basic form settings

			select.form-select {
				width: 98% !important
			}

			.form-item {

					input {
						width: 98% !important;
					}
			}

			//Lets position the Plot form fields
			
			.field-name-field-plot-date {
				@include grid-span(6, 1);

					fieldset {
						border: 0;
						margin: 0;
						padding: 0;
					}

					span.fieldset-legend {
						font-color: #000;
						font-weight: bold;
					}

					.description {
						display: none;
					}

					.date-padding {
						padding: 0;
					}

					fieldset.date-combo .container-inline-date > .form-item {
    					margin-bottom: 0;
    				}

			}

			

			.field-name-field-plot-sky {
				@include grid-span(6, 7);
			}

			.field-name-field-plot-weather {
				@include grid-span(6, 1);
				clear: right;
			}

			.field-name-field-plot-temperature {
				@include grid-span(6, 7);
			}

			.field-name-field-plot-wind-force {
				@include grid-span(6, 1);
				clear: right;
			}

			.field-name-field-plot-wind-direction {
				@include grid-span(6, 7);
			}

			.field-name-field-plot-tide-state {
				@include grid-span(6, 1);
				clear: right;
			}

			.field-name-field-plot-tide-movement {
				@include grid-span(6, 7);
			}

			.field-name-field-plot-sea-state {
				@include grid-span(6, 1);
				clear: right;
			}

			.field-name-field-plot-swell {
				@include grid-span(6, 7);
			}

			.location-wrapper {
				@include grid-span(10, 2);
				clear: right;
			}

			.field-name-field-plot-creatures-species {
				@include grid-span(6, 1);
				margin-top: 15px;
				clear: left;
			}

			.field-name-field-plot-gender {
				@include grid-span(6, 7);
				margin-top: 15px;
			}

			.field-name-field-plot-creatures-nickname {
				@include grid-span(6, 1);
				clear: right;
			}

			.field-name-field-plot-creatures-direction {
				@include grid-span(6, 7);
			}

			.field-name-field-plot-group-name {
				@include grid-span(6, 1);
				clear: right;
			}

			.field-name-field-plot-how-many-in-group {
				@include grid-span(6, 7);
			}

			.field-name-field-plot-additional-info {
				@include grid-span(10, 2);
				clear: right;
			} 

			

			//Form buttons
			.form-actions {
				@include grid-span(10, 1);
				margin-top: 15px;
				clear: left;

				#edit-submit {
					@include grid-span(3, 1);
				}

				#edit-preview {
					@include grid-span(3, 4);
				}
			}

		}


	}

}

@include breakpoint($desk) {


	.l-content {
		@include grid-span(12, 1);
	}
}