$grids: 12;
$gutters: 1/3; // = 1/3rd of a column


//$tab: 44em;
//$desk: 70em;

$tab: 768px; // iPad portrait
$tabwide: 1024px; // iPad landscape
$desk: 1120px; // Widescreen

$between: 20em 35em; // not in use (test media query only)

$touch: point coarse, 'no-query''.touch';


//$narrow: 740px 800px;
//$normal: 980px 1024px;
//$wide: 1220px;

