
/***********************************************************

    HEADER AND FOOTER VALUES

***********************************************************/

$bodyBG: #000;
$textColour: #fff;

/***********************************************************

    FONTS

***********************************************************/

$font-stack: "Trebuchet MS", Helvetica, sans-serif;

/***********************************************************

    PAGE ELEMENTS

***********************************************************/

//heading colours
$h1Colour: #fff;
$h2Colour: #fff;
$h3Colour: #fff;