$font-stack: "Courier New","Courier","monospace";


$bodyBG: #fff;
$bodyBGalt: #000;
$textColour: #000;
$textColourAlt: #fff;
$footerBG: #000;
$footerBGalt: #fff;


$h1Colour: #000;
$h2Colour: #000;
$h2ColourAlt: #fff;
$h3Colour: #000;