// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.l-page {
	margin: 0 auto;
}

.l-header {
	@include clearfix;
	background-color: transparent;
	width: auto;
	padding: 0px 2.5%;
	height: 50px;
	position: fixed;
	width: 100%;
	background-image: url("../../../images/img_site_structure/hd-bg.png");
	z-index: 200;
}
.l-region--header {
	width: 20%;
	float: left;
}

#logo img {
	width: 150px;
	min-width: 100px;
	top: 10px;
	left: 10px;
	position: absolute;
	z-index: 999;
}

.l-main {
	width: 100%; //lets go full width and ajust the page contents as required!
}

.l-content {
	padding-right: 1%;
	padding-left: 1%;
}

.l-footer {
	@include clearfix;
	width: 100%;
	padding: 60px 2.5%;
	background: #000;


	.social-networks {
			@include clearfix;
			margin: 50px 0 0;

				ul {
					margin:0;
					padding: 0;
					
					li {
						list-style: none;

						a {
							display: block;
							text-decoration: none;
							background-image: url("../../../images/social-networks/facebook.png");
							background-repeat: no-repeat;
							background-position: center;
							height: 35px;
							background-size: 120px;
						}

						a:hover {
							background-image: url("../../../images/social-networks/facebook-hover.png");
						}
					}
				}

	}


	.copyright {
			@include clearfix;
			text-align: center;
			margin: 50px 0 0;
			clear: left;

			p {
				color: #666;
				font-size: 12px;
			}

	}



}



@include breakpoint($tab) {

	.l-main {
	margin-top: 0;
	}

}

@include breakpoint($tabwide) {


}

@include breakpoint($desk) {

}

.l-page {/* 

	.pod-panel {
		text-align: center;
		padding: 0px 0px;
		}
	
	@include breakpoint($tab) {
		.pod-panel {
		padding: 0px;
		}

		
	} */

	
}

/* Site Layouts */
/* Layouts for the Footer */

.l-footer {

	@include breakpoint($tab) {

		.social-networks {
			
			ul {
				li {
					a {
						background-position: left;
					}
				}
			}
		}
	
	
		.social-networks {
			@include grid-span(3, 1); //sets it to 3 columns wide, that starts with the 1st column
			clear: left;
		}

		.copyright {
			@include grid-span(3, 10); //sets it to 3 columns wide, that starts with the 10th column
			text-align: right;
			clear: left;
		}


	}

}

/* Site fixes */

.l-page {

		.no-pad-top {
			margin-top: 0;
			padding-top: 0;
		}

		.no-pad-bottom {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.more-pad-top {
			margin-top: 40px;
		}

		.more-pad-top {
			margin-top-alt: 15px;
		}

		.more-pad-bottom {
			margin-bottom: 20px;
		}
	}


